
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('unnamed.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    
    animation: fadeFondo 1.5s ease-in-out forwards;
    }

  @keyframes fadeFondo {
    from {
        opacity: 0;
        filter: blur(20px);
    }
    to {
        opacity: 1;
        filter: blur(0px); 
    }
}   

.interface-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* El bloque amarillo claro */
.login-box {
    background-color: rgba(83, 22, 22, 0.9); /* Amarillo claro con algo de transparencia */
    padding: 30px 40px;
    border-radius: 15px;       
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); 
    width: 100%;
    max-width: 350px;          
    text-align: center;
    animation: fadeLoginBox 1.5s ease-in-out forwards;
    

}

 @keyframes fadeLoginBox {
    from {
        opacity: 0;
        filter: blur(20px);
    }
    to {
        opacity: 1;
        filter: blur(0px); 
    }
}

.login-box h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 25px;
}

/* Estilos para los campos de texto */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 600;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;        /* Inputs también con bordes redondeados */
    box-sizing: border-box;    /* Evita que el padding deforme el ancho */
    font-size: 16px;
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 12px;
    background-color: #333;    /* Botón oscuro para que contraste */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #555;    /* Efecto al pasar el ratón */
}
